### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [154]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [155]:
#Total Number of Players
Total_Players = purchase_data["SN"].nunique()
Player_Count_df = pd.DataFrame({"Total Players" : [Total_Players]})
Player_Count_df

   Total Players
0            576

### Observation

As per the Purchase Data CSV (purchase_data.csv), the total purchase ID count is 780 but the number of unique players is 576 only. From this we can come to conclusion that there are purchasers who buy the Heroes Of Pymoli Game repeatedly.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [156]:
#Number of Unique Items
Unique_Items = purchase_data["Item ID"].nunique()

#Average Purchase Price
Average_Price = purchase_data["Price"].mean()

#Total Number of Purchases
Total_Num_Purchases = purchase_data["Purchase ID"].count()

#Total Revenue
Total_Revenue = purchase_data["Price"].sum()

#Summary Data Frame to hold the results
Purchasing_Analysis_Total_df = pd.DataFrame({"Number of Unique Items" : [Unique_Items],
                                       "Average Price" : [Average_Price],
                                       "Total Number of Purchases" : [Total_Num_Purchases],
                                       "Total Revenue" : [Total_Revenue]
                                      })
#Formatting the Data Frame
Purchasing_Analysis_Total_df = Purchasing_Analysis_Total_df.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:,.2f}"})

#Displaying the Data Frame
Purchasing_Analysis_Total_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [157]:
#Group by Gender
purchase_data[""] = purchase_data["Gender"]
Gender_Group = purchase_data.groupby([""])

#Calculating the Player's Total Count and Percentage of Players based on Gender
Gender_Total_Count = Gender_Group["SN"].nunique()
Gender_Percentage_Players = round((Gender_Total_Count/Total_Players)*100,2)

#Summary Data Frame to hold the results
Gender_Demographics_df = pd.DataFrame({"Total Count": Gender_Total_Count, 
                                           "Percentage Of Players": Gender_Percentage_Players
                                        })

#Sorting the Values by Total Count in Descending Order
Gender_Demographics_df = Gender_Demographics_df.sort_values("Total Count", ascending=False) 

#Displaying the Data Frame
Gender_Demographics_df

                       Total Count  Percentage Of Players

Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [158]:
#Group by Gender
purchase_data[""] = purchase_data["Gender"]
Gender_Group = purchase_data.groupby([""])

# Calculating Purchase Count, AverGender Purchase Price (PP) based on Gender.
# Calculating Total Purchase Value (PV), Avg Total Purchase Per Person (TPPP) based on Gender.
Gender_Purchase_Count = Gender_Group["Purchase ID"].nunique()
Gender_Avg_PP = Gender_Group["Price"].mean()
Gender_Total_PV = Gender_Group["Price"].sum()
Gender_Avg_TPPP = Gender_Total_PV/Gender_Group["SN"].nunique()

#Summary Data Frame to hold the results
Purchasing_Analysis_Gender_df = pd.DataFrame({"Purchase Count": Gender_Purchase_Count, 
                                           "AverGender Purchase Price": Gender_Avg_PP,
                                           "Total Purchase Value": Gender_Total_PV,
                                           "Avg Total Purchase per Person": Gender_Avg_TPPP})
#Sorting the Index
Purchasing_Analysis_Gender_df.sort_index()

#Formatting the Data Frame
Purchasing_Analysis_Gender_df = Purchasing_Analysis_Gender_df.style.format({"AverGender Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:.2f}"})

#Displaying the Data Frame
Purchasing_Analysis_Gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [159]:
#Creating Bins & Groups by Age
Age_bins = [0,9,14,19,24,29,34,39,100]
Bin_Groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Categorizing the existing players using the age bins.
purchase_data[""] = pd.cut(purchase_data["Age"], Age_bins, labels=Bin_Groups)
Age_Group = purchase_data.groupby([""])

# Calculating Total Count, Percentage Of Players based on Age.
Total_Count = Age_Group["SN"].nunique()
Percentage_of_Players = round((Total_Count/Total_Players) * 100,2)

#Summary Data Frame to hold the results
Age_Demographics_df = pd.DataFrame({"Total Count": Total_Count, "Percentage of Players": Percentage_of_Players})

#Sorting the Index
Age_Demographics_df = Age_Demographics_df.sort_index()

#Displaying the Data Frame
Age_Demographics_df

       Total Count  Percentage of Players

<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
#Creating Bins & Groups by Age
Age_bins = [0,9,14,19,24,29,34,39,100]
Bin_Groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Categorizing the existing players using the age bins.
purchase_data[""] = pd.cut(purchase_data["Age"], Age_bins, labels=Bin_Groups)
Age_Group = purchase_data.groupby([""])

# Calculating Purchase Count, Average Purchase Price (PP) based on Age.
# Calculating Total Purchase Value (PV), Avg Total Purchase Per Person (TPPP) based on Age.
Age_Purchase_Count = Age_Group["Purchase ID"].nunique()
Age_Avg_PP = Age_Group["Price"].mean()
Age_Total_PV = Age_Group["Price"].sum()
Age_Avg_TPPP = Age_Total_PV/Age_Group["SN"].nunique()

#Summary Data Frame to hold the results
Purchasing_Analysis_Age_df = pd.DataFrame({"Purchase Count": Age_Purchase_Count, 
                                           "Average Purchase Price": Age_Avg_PP,
                                           "Total Purchase Value": Age_Total_PV,
                                           "Avg Total Purchase per Person": Age_Avg_TPPP})
#Sorting the Index
Purchasing_Analysis_Age_df.sort_index()

#Formatting the Data Frame
Purchasing_Analysis_Age_df = Purchasing_Analysis_Age_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:.2f}"})

#Displaying the Data Frame
Purchasing_Analysis_Age_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [161]:
#Group by Spenders
SN_Group = purchase_data.groupby(["SN"])

# Calculating Purchase Count, Average Purchase Price (PP) , Total Purchase Value (PV) based on Top Spenders
Spenders_Purchase_Count = SN_Group["Purchase ID"].nunique()
Spenders_Avg_PP = SN_Group["Price"].mean()
Spenders_Total_PV = SN_Group["Price"].sum()

#Summary Data Frame to hold the results
Top_Spenders_df = pd.DataFrame({"Purchase Count": Spenders_Purchase_Count, 
                                           "Average Purchase Price": Spenders_Avg_PP,
                                           "Total Purchase Value": Spenders_Total_PV})

#Sorting the Data Frame by Total Purchase Value in Descending Order
Top_Spenders_df = Top_Spenders_df.sort_values("Total Purchase Value", ascending=False) 

#Displaying Priview of Data (head)
Top_Spenders_df = Top_Spenders_df.head()

#Formatting the Data Frame
Top_Spenders_df = Top_Spenders_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}"})

#Displaying the Data Frame
Top_Spenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [162]:
#Group by Item ID and Item Name
Item_Group = purchase_data.groupby(["Item ID","Item Name"])

#Calculating Purchase Count, Item Price , Total Purchase Value based on Most Popular Items
Items_Purchase_Count = Item_Group["Purchase ID"].nunique()
Items_Price = Item_Group["Price"].mean()
Items_Total_PV = Item_Group["Price"].sum()

#Summary Data Frame to hold the results
Most_Popular_Item_df = pd.DataFrame({"Purchase Count": Items_Purchase_Count, 
                                           "Item Price": Items_Price,
                                           "Total Purchase Value": Items_Total_PV})

#Sorting the Data Frame by Purchase Count in Descending Order
Most_Popular_Item_df = Most_Popular_Item_df.sort_values("Purchase Count", ascending=False) 

#Displaying Priview of Data (head)
Most_Popular_Item_df = Most_Popular_Item_df.head()

#Formatting the Data Frame
Most_Popular_Item_df = Most_Popular_Item_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:,.2f}"})

#Displaying the Data Frame
Most_Popular_Item_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [163]:
#Group by Item ID and Item Name
Item_Group = purchase_data.groupby(["Item ID","Item Name"])

#Calculating Purchase Count, Item Price , Total Purchase Value based on Most Profitable Items
Items_Purchase_Count = Item_Group["Purchase ID"].nunique()
Items_Price = Item_Group["Price"].mean()
Items_Total_PV = Item_Group["Price"].sum()

#Summary Data Frame to hold the results
Most_Profitable_Item_df = pd.DataFrame({"Purchase Count": Items_Purchase_Count, 
                                           "Item Price": Items_Price,
                                           "Total Purchase Value": Items_Total_PV})

#Sorting the Data Frame by Total Purchase Value in Descending Order
Most_Profitable_Item_df = Most_Profitable_Item_df.sort_values("Total Purchase Value", ascending=False) 

#Displaying Priview of Data (head)
Most_Profitable_Item_df = Most_Profitable_Item_df.head()

#Formatting the Data Frame
Most_Profitable_Item_df = Most_Profitable_Item_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:,.2f}"})

#Displaying the Data Frame
Most_Profitable_Item_df